<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/head')%>

    <title><%=title %></title>
    
  </head>
  <body>
    <%- include ('partials/navigation')%>

    <div class="container" id="galeria">

      <div class="row p-5 ">
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/play4.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/play5.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/xboxone.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/xboxseries1.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/swicht.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/vr.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/caja-1.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/gameboy.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/classic.webp" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/play2.jpg" alt=""></div>
      </div>

   </div>
  </body>
</html>
