<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <%- include ('partials/head')%>

    <title><%=title %></title>
  
  </head>
  <body>
    <%- include ('partials/navigation')%>

    <div class="container" id="galeria">

      <div class="row p-5 ">
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/figura1.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/inuyasha.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/ssss.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/itadori.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/demon.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/sword.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/demon-slayer.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/saint.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/one-piece-portrait-of-pirates-sa-maximum-monkey-d-luffy-gear-4-boundman-ver-2.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/rascal.jpg" alt="Galeria Imagen"></div>
      </div>
    </div>
  </body>
</html>
