<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   

    <%- include ('partials/head.html')%>

    <title><%=title %></title>
  </head>
  <body>
    <%- include ('partials/navigation.html')%>

    <div class="container" id="containera">
      <header class="row">
        <div class="col-lg-12 text-center ">

        </div>
        
      </header>
    
    </div>

    <!-- Section 1-->

    <div class="container-fluid"  id="about">
      <div class="row bg-dark text-white p-4 text-center fixed-bottom">
        <div class="col-12 col-md-6 p-5">
          <i class="fas fa-store fa-10x"></i>
        </div>
        <div class="col-12 col-md-6 p-5">
          <h3>Bienvenidos A Mi Sitio Web</h3>
          <p>
            <span
              ><p>Bienvenido a mi tienda de juegos y productos gamer. </p>
              <h4>Esperemos Que Distrutes La Estancia En Nuestra Tienda</h4>
            
            </span>

          </p>

          
        </div>
      </div>
    </div>

    
  </body>
</html>
