<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include ('partials/head')%>

    <title><%=title %></title>
    
  </head>
  <body>
    <%- include ('partials/navigation')%>

    <div class="container" id="galeria">

      <div class="row p-5 ">
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/gafas.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/collar.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/anillo.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/reloj1.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/aretes.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/bolso.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/tennis.jpg" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/reloj.webp" alt="Galeria Imagen"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/relojoro.webp" alt="Galeria Imagen"></div>
          
      </div>
    </div>
  </body>
</html>
