<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ('partials/head')%>

    <title><%=title %></title>
  </head>
  <body>
    <%- include ('partials/navigation')%>

    <div class="container" id="galeria">

       <div class="row p-5 ">
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/call-of-duty-cold-war-ps4.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/crash-ps4_1.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/cod-bo-iiii-ps4_2_1.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/cyberpunk-ps4-2_1.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/god-of-war-playstation-hits.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/grand-theft-auto-v.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/gran-turismo_2_1.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/jukih.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/resident-evil-3-ps4_1.jpg" alt="Galeria Imagen"></div>
           <div class="col-lg-4 col-md-6 col-sm-12"><img src="img/minecraft-bedrock-edition.jpg" alt=""></div>
       </div>

    </div>
    
  </body>

</html>


